# Extract

In [3]:
import sys            # read system parameters
import pandas as pd   # manipulate and analyze data
import sqlite3        # manage sql databases

In [4]:
# summarize libraries
print('Libraries used in the project')
print('Python {}'. format(sys.version))
print('Pandas {}'. format(pd.__version__))
print('sqlite3 {}'. format(sqlite3.sqlite_version))

Libraries used in the project
Python 3.10.12 (main, Jun 11 2023, 05:26:28) [GCC 11.4.0]
Pandas 1.5.3
sqlite3 3.37.2

# Task 1: Reading Data from CSV Files

__Load a SCV file as a DataFrame__

In [6]:
complaints_data = pd.read_csv('consumer_loan_complaints.csv')

In [9]:
complaints_data.head(n=6)

,user_id,Date received,Product,Issue,Consumer complaint narrative,State,ZIP code,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
0,44fefdad-7045-4be5-890e-12e84ae6fdc9,01/27/2016,Consumer Loan,Account terms and changes,NaN,AL,35180,Phone,01/27/2016,Closed with explanation,Yes,No,1760486
1,c49d5d60-909f-406b-b7ff-51143fcb650b,08/26/2014,Consumer Loan,Account terms and changes,NaN,NC,278XX,Phone,08/29/2014,Closed with non-monetary relief,Yes,No,1001740
2,9b2cd5d2-900e-4052-831f-6489f6d568af,08/22/2012,Consumer Loan,Account terms and changes,NaN,TN,37205,Referral,08/23/2012,Closed with non-monetary relief,Yes,No,140039
3,b7e5b324-268e-4502-81a1-1a025673c2a0,05/07/2013,Consumer Loan,Problems when you are unable to pay,NaN,OH,43081,Web,05/08/2013,Closed with explanation,Yes,Yes,401541
4,684eeb4c-c9c3-4a97-8213-f3962a6c0aba,06/15/2016,Consumer Loan,Managing the line of credit,NaN,NC,27216,Phone,09/08/2016,Closed with non-monetary relief,Yes,No,1970341
5,0212d4b6-0cb6-47a3-a57d-b87162420ec4,04/23/2012,Consumer Loan,Account terms and changes,NaN,NY,11207,Referral,04/25/2012,Closed without relief,Yes,No,38375

In [13]:
complaints_data.dtypes

user_id                         object
Date received                   object
Product                         object
Issue                           object
Consumer complaint narrative    object
State                           object
ZIP code                        object
Submitted via                   object
Date sent to company            object
Company response to consumer    object
Timely response?                object
Consumer disputed?              object
Complaint ID                     int64
dtype: object

__Descriptions__

* __user_id__: unique hexadecimal string to identify user
* __Data received__: the data complaint was received by the organization
* __Product__: the product complaint is about
* __Issue__: type of issue about the complaint
* __Consumer complaint narrative__: text/description about complaints, optional
* __State__: U.S. state the user resides in
* __ZIP code__: ZIP code of the uesr
* __Submitted via__: method the user submitted the complaint
* __Date sent to company__: the date complaint was sent by the user
* __Timely response?__: if the org response was in time, according to some metric, given within an acceptable time period
* __Consumer disputed?__: if or not the user disputed the action the organization took in response to the complaint.
* __Complaint ID__: unique identifier for the complaint itself

# Task 2: Extracting Data with Database Queries

__Database__:
* Name: user_data.db
* Tables: 
    * users: users info
    * device: user devices
    * transactions: user transaction history

In [15]:
# create a connection to the sqlite database
# conn establishes connection to the database

conn = sqlite3.connect('user_data.db')
conn

In [16]:
# read the users data from users table,

query = 'SELECT * FROM users'

In [19]:
# read the query into the dataframe

users = pd.read_sql(query, conn)
users.head(n=2)

,user_id,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,term_deposit,date_joined
0,9231c446-cb16-4b2b-a7f7-ddfc8b25aaf6,58,management,married,tertiary,no,yes,no,None,261,1,-1,0,None,no,1998-08-23
1,bb92765a-08de-4963-b432-496524b39157,44,technician,single,secondary,no,yes,no,None,151,1,-1,0,None,no,2008-07-15

In [20]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45216 entries, 0 to 45215
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       45216 non-null  object
 1   age           45216 non-null  int64
 2   job           44928 non-null  object
 3   marital       45216 non-null  object
 4   education     43359 non-null  object
 5   default       45216 non-null  object
 6   housing       45216 non-null  object
 7   loan          45216 non-null  object
 8   contact       32196 non-null  object
 9   duration      45216 non-null  int64
 10  campaign      45216 non-null  int64
 11  pdays         45216 non-null  int64
 12  previous      45216 non-null  int64
 13  poutcome      8255 non-null   object
 14  term_deposit  45216 non-null  object
 15  date_joined   45186 non-null  object
dtypes: int64(5), object(11)
memory usage: 5.5+ MB

__Table: users__

* __age__: The age of the user.
* __job__: The user's job title.
* __marital__: The user's marital status.
* __education__: The user's level of education.
* __default__: Whether the user has defaulted on a loan.
* __housing__: Whether or not the user has a housing loan.
* __loan__: Whether or not the user has a personal loan.
* __contact__: The method the user and organization use to communicate.
* __duration__: The duration of the last contact session with the user, in seconds.
* __campaign__: Number of times the user was contacted for the current marketing campaign.
* __pdays__: Number of days that passed after the user was contacted from a previous campaign.
* __previous__: Number of times the user was contacted prior to the current campaign.
* __poutcome__: The result of the previous campaign.
* __term_deposit__: Whether or not the client subscribed to a term deposit.
* __date_joined__: The date the user signed up for an account.

In [21]:
users.shape

(45216, 16)

In [22]:
# read the device data from device table

query = 'SELECT * FROM device'
device = pd.read_sql(query, conn)
device.head(n=2)

                                user_id   device
0  9231c446-cb16-4b2b-a7f7-ddfc8b25aaf6   mobile
1  bb92765a-08de-4963-b432-496524b39157  desktop

In [25]:
device.shape

(45117, 2)

In [26]:
# read the user transactions data

query = 'SELECT * FROM transactions'
transactions = pd.read_sql(query, conn)
transactions.head(n=3)

                                user_id    transaction_id  amount_usd
0  9231c446-cb16-4b2b-a7f7-ddfc8b25aaf6  transaction_5180        1332
1  9231c446-cb16-4b2b-a7f7-ddfc8b25aaf6  transaction_5607         726
2  9231c446-cb16-4b2b-a7f7-ddfc8b25aaf6  transaction_6765          85

__Table : transactions__

* __user_id__: id of user
* __transaction_id__: A unique identifier for each transaction.
* __amount_usd__: The total amount of the transaction in U.S. dollar

In [27]:
transactions.shape

(140034, 3)

__Aggregate the__ `transactions` __data__

In [29]:
# aggregate data on the number of transactions and the total amount based on unique user_id

query = '''SELECT user_id,
                  COUNT(*) AS number_transactions,
                  SUM(amount_usd) AS total_amount_usd
           FROM transactions
           GROUP BY user_id'''
transactions_agg = pd.read_sql(query, conn)
transactions_agg.head()

                                user_id  number_transactions  total_amount_usd
0  0001570d-8aed-465e-b547-8981651084ed                    3               792
1  000548ed-aa18-4eef-b8ed-68a9126e33ab                    2              1044
2  00069959-4d55-460e-bb76-ae13ddbd80a6                    5                 0
3  000bab00-aec4-4ee2-81a6-1f897c38726b                   19                 0
4  000cbac8-212f-46fb-b58f-861dada34284                    2               399

In [30]:
transactions_agg.shape

(35211, 3)

# Consolidating Data from Multiple Sources

* Extracted data from csv and sqlite db
* data tables currently live in separate objects
* but they share common key: `user_id`

__Create a Master Table__
* includes all data from various tables
* makes data analysis easier

__Merge the__ `device` __table with__ `users` __table__

In [31]:
# do a left join, as all users in the users table are of interest

query = '''SELECT left_table.*, right_table.device
           FROM users AS left_table
           LEFT JOIN device AS right_table
           ON left_table.user_id = right_table.user_id'''

users_w_device = pd.read_sql(query, conn)

In [32]:
users_w_device.head()

,user_id,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,term_deposit,date_joined,device
0,9231c446-cb16-4b2b-a7f7-ddfc8b25aaf6,58,management,married,tertiary,no,yes,no,None,261,1,-1,0,None,no,1998-08-23,mobile
1,bb92765a-08de-4963-b432-496524b39157,44,technician,single,secondary,no,yes,no,None,151,1,-1,0,None,no,2008-07-15,desktop
2,573de577-49ef-42b9-83da-d3cfb817b5c1,33,entrepreneur,married,secondary,no,yes,yes,None,76,1,-1,0,None,no,2002-06-04,mobile
3,d6b66b9d-7c8f-4257-a682-e136f640b7e3,47,blue-collar,married,None,no,yes,no,None,92,1,-1,0,None,no,1995-06-29,tablet
4,fade0b20-7594-4d9a-84cd-c02f79b1b526,33,None,single,None,no,no,no,None,198,1,-1,0,None,no,1995-08-01,mobile

In [33]:
users_w_device.shape

(45216, 17)

In [36]:
# close database connection

conn.close()

__Merge__ `users_w_device` __with__ `transactions_agg`

In [39]:
# do a right join so users won't be lost

users_w_devices_and_transactions = \
transactions_agg.merge(users_w_device, on ='user_id', how='right')

In [40]:
users_w_devices_and_transactions.head()

,user_id,number_transactions,total_amount_usd,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,term_deposit,date_joined,device
0,9231c446-cb16-4b2b-a7f7-ddfc8b25aaf6,3.0,2143.0,58,management,married,tertiary,no,yes,no,None,261,1,-1,0,None,no,1998-08-23,mobile
1,bb92765a-08de-4963-b432-496524b39157,NaN,NaN,44,technician,single,secondary,no,yes,no,None,151,1,-1,0,None,no,2008-07-15,desktop
2,573de577-49ef-42b9-83da-d3cfb817b5c1,2.0,2.0,33,entrepreneur,married,secondary,no,yes,yes,None,76,1,-1,0,None,no,2002-06-04,mobile
3,d6b66b9d-7c8f-4257-a682-e136f640b7e3,NaN,NaN,47,blue-collar,married,None,no,yes,no,None,92,1,-1,0,None,no,1995-06-29,tablet
4,fade0b20-7594-4d9a-84cd-c02f79b1b526,1.0,1.0,33,None,single,None,no,no,no,None,198,1,-1,0,None,no,1995-08-01,mobile

In [41]:
users_w_devices_and_transactions.shape

(45216, 19)